@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');
h1{
  font-family: 'Abril Fatface', serif;
}

body{
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

input, select{
  font-family: 'Raleway', sans-serif;
  padding: 10px 5px;
  font-size: 100%;
  width: 250px;
  border: solid 1px black;
  box-sizing: border-box;
}

label, input, select{
  display: block;
}
select{
  margin: 0;
}

label{
  margin-top: 10px;
}

input[type="submit"]{
  border: none;
  background-color: black;
  
  color: white;
  margin: 10px 0;
  cursor: pointer;
}

span{
  font-size: 150%;
  font-weight: bold;

}

a, a:visited{
  color: #0b2522;
  font-style: italic;
}

main{
  width: 300px;
  margin: auto;
  position: relative;
}
main::before{
  content:"";
  background-color: #9ef8ec;
  width: 250px;
  position: absolute;
  height: 100%;
  left: 15px;
  top: 25px;
  z-index: -1;
}
