<!DOCTYPE html>
<html>
<head>
  <title>Your Rate</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<main>
  <h1>Your Rate</h1>
  <p>Type: <%= parcelType %></p>
  <p>Weight: <%= parcelWeight %> oz</p>
  <p>Rate: <span>$<%= (Math.round(parcelRate * 100) / 100).toFixed(2) %></span></p>

  <a href="/">Calculate Another Rate</a>
</main>
</body>
</html>
