<!DOCTYPE html>
<html>
<head>
  <title>Rate</title>
</head>

<body>

  <h1>Your Rate</h1>
  <p>Type: <%= parcelType %></p>
  <p>Weight: <%= parcelWeight %> oz</p>
  <p>Rate: $<%= (Math.round(parcelRate * 100) / 100).toFixed(2) %></p>

</body>
</html>
